.button {
  background-color: #382f5a;
  font-family: 'Roboto';
  text-align: center;
  color: #c4c4c4;
  border-radius: 8px;
  border-width: 2px;
  padding: 10px;
  border-color: #585076;
  border-style: solid;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}
.list {
  width: 45%;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}
