.bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner-container {
  background-color: #150b3e;
  border-radius: 10px;
  padding: 30px;
  width: 50%;
}
.name-container {
  display: flex;
  align-items: center;
}
.name-char-container {
  background-color: #c7d2fe;
  width: 70px;
  height: 70px;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name-charecter {
  color: #7c3aed;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
}
.name {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 20px;
  padding-left: 15px;
}
.main-amount-container {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}
.your-balance {
  color: #585076;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 25px;
}
.amount {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: bold;
}
.amount-para {
  color: #585076;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
}
.Withdraw-heading {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
}
.Withdraw-para {
  color: #585076;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 20px;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}
